div {
    border: solid black 4px;
    background-color: lightgray;
    width: 400px;
    height: fit-content;
    margin-top: 10px;
}
h1 {
    font-size: 32px;
    margin-left: 20px;
}
p {
    font-size: 20px;
    margin-left: 5px;
}